{% extends "history/history_base.html" %} {% load humanize %} {% load i18n %} 

{% block content_block %} 
{% trans "are you sure that you wish to delete this history entry?" as delete_confirm_message %}

{% mdl_paginator page_obj=page_obj link='history:historyentry_list' %}
<div class="mdl-card mdl-cell mdl-cell--12-col mdl-shadow--2dp">
	<div class="mdl-card__title mdl-color--green-600 mdl-color-text--white">
		<i class="material-icons">list</i>
		<h2 class="mdl-card__title-text">
		{{ view_verbose_name|capfirst }}
		</h2>
	</div>
	<div class="table-responsive">
		<table id="tabela" class="mdl-data-table mdl-cell mdl-cell--12-col mdl-js-data-table">
			<thead>
				<tr>
					<th class="mdl-data-table__cell--non-numeric">{{ _("event time")|capfirst }}</th>
					{% if view_id == "historyentry_list" %}
					<th class="mdl-data-table__cell--non-numeric">{{ _("made by")|capfirst }}</th>
					{% endif %}
					<th class="mdl-data-table__cell--non-numeric">{{ _("message")|capfirst }}</th>
				</tr>
			</thead>
			<tbody>
				{% if object_list %} {% for object in object_list %}
				<tr>
					<td class="mdl-data-table__cell--non-numeric">
						{{ object.event_time|naturaltime }}
					</td>
					{% if view_id == "historyentry_list" %}
					<td class="mdl-data-table__cell--non-numeric">
						{{ object.user.get_full_name|capfirst}}
					</td>
					{% endif %}
					<td class="mdl-data-table__cell--non-numeric">
						{{ object.get_event_message|capfirst }}
						{% if perms.history.delete_historyentry %}
						<a href="{% url 'history:historyentry_delete' object.id  %}" 
								class="mdl-button mdl-js-button mdl-button--icon mdl-color-text--red fl-right" 
								onclick="return confirm('{{ delete_confirm_message }}')">
							<i class="material-icons">delete</i>
						</a>
						{% endif %}
					</td>
				</tr>
				{% endfor %} 
				{% else %}
				<tr>
					<td class="mdl-data-table__cell--non-numeric" colspan="5">
						<p>{{ _("no results to show")|capfirst }}</p>
					</td>
				</tr>
				{% endif %}
			</tbody>
		</table>
	</div>
</div>
{% mdl_paginator page_obj=page_obj link='history:historyentry_list' %}
{% endblock %}
