{% if not bound_field.is_hidden %}
<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label {% if bound_field.errors %}is-invalid{% endif %}">

	{% if not readonly_encoded %}
	<label class="mdl-textfield__label" for="{{ bound_field.id_for_label }}">
		{{ bound_field.label|capfirst }}:
	</label>
	{{ bound_field }}
	{% endif %}
	
	{% if bound_field.errors %}
	{% for error in bound_field.errors %}
	<span class="mdl-textfield__error">{{ error|capfirst|safe }}</span>
	{% endfor %}
	{% endif %}
	{% if bound_field.help_text %}
	<br>
	{{ bound_field.help_text|capfirst|safe }}
	{% endif %}
	
</div>



{% else %}
{{ bound_field }}
{% endif %}