<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="exampleModalLabel">
					Remover Usuário
					<span class="nome" />
				</h4>
			</div>
			<div class="modal-body">
				Você tem certeza que deseja remover o usuário <span class="nome" />?
				<br />
				Esta ação é irreversível.
			</div>
			<div class="modal-footer">
				<a id="remover" class="btn btn-danger">
					<i class="fa fa-trash"></i>
					Remover
				</a>
				<button id="cancelar" type="button" class="btn btn-default" data-dismiss="modal">
					<i class="fa fa-times"></i> 
					Cancelar
				</button>
			</div>
		</div>
	</div>
</div>

<script>
	(function($) {
		$(function() {
			$('#confirmModal').on('show.bs.modal', function (event) {
				var button = $(event.relatedTarget);
				var modal = $(this)
				
				modal.find('.nome').html(button.data('nome'));
				modal.find('#remover').prop('href', button.data('href'));
			});
		});
	}(jQuery));
</script>