{% extends 'timesheet/base_logged.html' %} {% block content_block %} {% load staticfiles %}
<h1 class="text-center">
	<i class="fa fa-user"></i>
	Formulário Usuário
</h1>
<hr />
<div class="row">
	{% if error_message %}
	<p>
		<strong>{{ error_message }}</strong>
	</p>
	{% endif %}
	<div class="col-md-4"></div>
	<form id="pessoa_form" class="col-md-4" action="{% url 'timesheet:cadastrar_pessoa' %}" method="post">
		{% csrf_token %}
		<div class="well well-lg">
			<div class="form-group col-md-12">
				<label for="nome">Primeiro Nome:</label>
				<input id="nome" class="form-control" type="text" name="primeiro_nome" value="{{ pessoa.usuario.first_name }}">
				<br>
			</div>
			<div class="form-group col-md-12">
				<label for="nome">Sobrenome:</label>
				<input id="nome" class="form-control" type="text" name="sobrenome" value="{{ pessoa.usuario.last_name }}">
				<br>
			</div>
			<div class="form-group col-md-12">
				<label for="nome">E-mail:</label>
				<input id="email" class="form-control" type="text" name="email" value="{{ pessoa.usuario.email }}">
				<br>
			</div>
			<div class="form-group col-md-4">
				<label for="tipo_documento">Documento:</label>
				<select id="tipo_documento" class="form-control" name="tipo_documento" value="{{ pessoa.documento.tipo_documento.id }}">
					{% for tipo_documento in tipos_documentos %}
					<option mask="{{ tipo_documento.mascara }}" value="{{ tipo_documento.id }}">{{ tipo_documento.abreviacao }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="form-group col-md-8">
				<label for="codigo">&nbsp;</label>
				<input id="codigo" type="text" class="form-control" name="codigo" value="{{ pessoa.documento.codigo }}">
			</div>
			<div class="form-group col-md-12">
				<label for="login">Login:</label>
				<input id="login" class="form-control" type="text" name="login" value="{{ pessoa.usuario.username }}">
			</div>
			<div class="form-group has-feedback col-md-12">
				<label class="control-label" for="senha">Senha:</label>
				<input id="senha" class="form-control equals" type="password" name="senha">
				<i class="fa form-control-feedback"></i>
			</div>
			<div class="form-group has-feedback col-md-12">
				<label class="control-label" for="confirmar-senha">Confirmar Senha:</label>
				<input id="confirmar-senha" class="form-control equals" type="password" name="confirmar-senha">
				<i class="fa form-control-feedback"></i>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="form-group col-md-12">
			<button id="salvar" class="btn btn-primary" type="submit">
				<i class="fa fa-floppy-o"></i>
				Salvar
			</button>
			<a class="btn btn-default" href="{% url 'timesheet:lista_pessoas' 1 %}">
				<i class="fa fa-times"></i>
				Cancelar
			</a>
		</div>
	</form>
	<div class="col-md-4"></div>
</div>
{% endblock %} {% block js_block %}
<script src="{% static 'timesheet/dist/js/jquery.mask.min.js' %}"></script>
<script>
	(function($) {
		$(function() {
			var $form = $("#pessoa_form");
			applyMask(document.querySelector("#tipo_documento"));
			$form.on("blur", ".equals", function(e) {
				checkEqualsFields();
			});
			
			$form.on("change", "#tipo_documento", function(e) {
				applyMask(e.currentTarget);
			});

			$form.on("submit", function(e) {
				if (!checkEqualsFields()) {
					e.preventDefault();
				}
			});
		});
		function applyMask(combo) {
			var item = combo.value;
			var mask = "999999999999999999999999";
			for(i in combo.options) {
				var option = combo.options[i];
				if(option.value == item) mask = $(option).attr("mask");
			}
			$("#codigo").mask(mask.replace(/X/g, "9"));
		}
		
		function checkEqualsFields() {
			var $equals = $('.equals');
			var diff = false;
			var val;
			for (var i = 0; i < $equals.length; i++) {
				var field = $equals.get(i);
				if (!field.value) {
					diff = true;
					break;
				}
				if (val && field.value != val) {
					diff = true;
					break;
				}
				val = field.value;
			}

			if (diff) {
				$equals.parent().removeClass("has-success").addClass(
						"has-error").addClass("has-feedback").find(".fa")
						.removeClass("fa-check").addClass("fa-times");
			} else {
				$equals.parent().removeClass("has-error").addClass(
						"has-success").addClass("has-feedback").find(".fa")
						.removeClass("fa-times").addClass("fa-check");
			}
			return !diff;
		}
	}(jQuery));
</script>

{% endblock %}
