<h1>Formulário Usuário</h1>
{% if error_message %}
	<p><strong>{{ error_message }}</strong></p>
{% endif %}
<form action="{% url 'salvar_usuario' %}" method="{{method}}">
	{% csrf_token %}
	<label for="nome">Nome:</label>
	<input type="text" name="nome" value="{{ usuario.pessoa.nome }}">
	<br>
	<label for="tipo_documento">Documento:</label>
	<select name="tipo_documento" value="{{ usuario.pessoa.documento.tipo_documento }}">
		{% for tipo_documento in tipos_documentos %}
			<option value="{{ tipo_documento }}">{{ tipo_documento.abreviacao }}</option>
		{% endfor %}
	</select>
	<input type="text" name="codigo" value="{{ usuario.pessoa.documento.codigo }}">
	<br>
	<label for="login">Login:</label>
	<input type="text" name="login" value="{{ usuario.login }}">
	<br>
	<label for="login">Senha:</label>
	<input type="password" name="senha" value="{{ usuario.senha }}">
	<br>
	<br>
	<button type="submit">Salvar</button>
</form>
