{% extends 'user/user_base.html' %}ity_base.html' %} {% load i18n %} {% block content_block %}
<h1 class="text-center">
	{{title|capfirst}}
</h1>
<div class="col-md-3"></div>
<div class="col-md-6">
	<div class="well well-lg">
		
		{{ _('session terminated.')|capfirst }}
		<br />
		{{ _('thank you for visiting our application, come back soon')|capfirst }}
	
	</div>
	{% bootstrap_button link='user:index' icon='sign-in' text=_('sign in again')|capfirst bclass='primary' %}
</div>
<div class="col-md-3"></div>
<div class="clearfix"></div>
{% endblock %}