{% extends 'materialdesign/material_app.html' %} {% load i18n %} 

{% block page_title %}
{{title|capfirst}}
{% endblock page_title %}

{% block content_block %}

<div class="mdl-layout-spacer"></div>
<div class="mdl-cell--5-col">
  <br>
  <br>
  {{ _('session terminated.')|capfirst }}
  <br>
  {{ _('thank you for visiting our application, come back soon')|capfirst }}
  <br>
  <br>
  <a href="{% url 'user:index' %}" class="mdl-button">{{ _('sign in again') }}</a>
</div>
<div class="mdl-layout-spacer"></div>

{% endblock %}