{% extends 'user/user_base.html' %} {% load i18n %} {% block content_block %}
<h1 class="text-center">
	{% if user.is_authenticated %}
	{% icon_text icon='refresh' text=_('switch user') %}
	{% else %}
	{% icon_text icon='sign-in' text=_('sign in') %}
	{% endif %}
</h1>
<div class="col-md-3"></div>
<div class="col-md-6">
	<form action="{% url 'user:login' %}" method="post">
		{% csrf_token %}
		<input type="hidden" id="next" name="next" value="{{ request.GET.next }}">
		{% bootstrap_messages form.non_field_errors %}
		<div class="well well-lg">
		
			{% for field in form %}
			{% bootstrap_field field %}
			{% endfor %}
			
			{% campos_obrigatorios %}
		</div>
		
		{% bootstrap_button icon='sign-in' text=_("sign in") bclass='primary' %}
		{% bootstrap_button link='user:user_signup' icon='user-plus' text=_("sign up") %}
		<br />
		<br />
		<a href="#" data-toggle="modal" data-target="#languageModal"><i class="fa fa-language"></i> {{ _("switch language")|capfirst }}</a>
		
	</form>
</div>
<div class="col-md-3"></div>
<div class="clearfix"></div>
{% endblock %}
