{% extends 'materialdesign/material_app.html' %} {% load i18n %} 

{% block page_title %}

{% endblock page_title %}

{% block content_block %}
<div class="mdl-layout-spacer"></div>
<form class="mdl-cell--5-col" id="pessoa_form" action="{{ request.path }}" method="post">
	{% csrf_token %}
   <input type="hidden" id="next" name="next" value="{{ request.GET.next }}">
   {% mdl_messages form.non_field_errors %}
	<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col">
		<div class="mdl-card__title">
        	{% if user.is_authenticated %}
         <i class="material-icons">cached</i>
         <h2 class="mdl-card__title-text">
				{{ _('switch user')|capfirst }}
			</h2>
        	{% else %}
        	<i class="material-icons">input</i>
         <h2 class="mdl-card__title-text">
				{{ _('sign in')|capfirst }}
			</h2>
        	{% endif %}
		</div>
		
		<div class="mdl-card__supporting-text">
			{% for field in form %}
			{% mdl_field field %}
			{% endfor %}
		</div>
		
		<div class="mdl-card__actions mdl-card--border">
			<button type="submit" class="make-navigation mdl-button mdl-button--raised mdl-button--colored mdl-js-button mdl-js-ripple-effect">
				<i class="material-icons">input</i>
           		{{ _("sign in")|capfirst }}
			</button>
			<a href="{% url 'user:user_signup' %}" class="make-navigation mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
            	<i class="material-icons">person_add</i>
				{{ _("sign up")|capfirst }}
			</a>
		</div>
		
		<div class="mdl-card__menu">
			<button id="cardmenubtn" type="button" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
				<i class="material-icons">more_vert</i>
			</button>
			<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="cardmenubtn">
				<li class="mdl-menu__item">
					<i class="material-icons">language</i>
					<a class="mdl-navigation__link" href="#" data-opendialog="#languageModal">{{ _("switch language")|capfirst }}</a>
				</li>
			</ul>
		</div>
		
	</div>
</form>
<div class="mdl-layout-spacer"></div>
{% endblock %}
