{% extends 'base.html' %} {% block body_block %}
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<i class="fa fa-bars"></i>
			</button>
			<span class="navbar-brand">
				{% block app_title %} {% endblock app_title %}
			</span>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			{% if user.is_authenticated %}
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<p class="navbar-text dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
						<i class="fa fa-user"></i>
						{{ user.first_name|default:user.get_username }}
						<i class="fa fa-caret-down"></i>
					</p>
					<ul class="dropdown-menu">
						<li>
							<a href="{% url 'identity:visualizar_pessoa_autenticada' %}"><i class="fa fa-eye"></i> {{ user.get_full_name|default:user.get_username }}</a>
						</li>
						<li>
							<a href="{% url 'identity:logout' %}"><i class="fa fa-sign-out"></i> Sair</a>
						</li>
					</ul>
				</li>

			</ul>
			{% block app_menu %}{% endblock app_menu %}
			{% endif %}
		</div>
	</div>
</nav>
<div class="container">
	<div class="hidden-xs hidden-sm base-top-margin-md-lg"></div>
	<div class="hidden-md hidden-lg base-top-margin-xs-sm"></div>
	{% bootstrap_messages messages %}
	{% block content_block %}{% endblock content_block %}
	<hr>
	<footer>
		<p>&copy; 2015 Company, Inc.</p>
	</footer>
</div>
{% endblock body_block%}
