{% extends 'identity/identity_base.html' %} {% block content_block %}
<h1 class="text-center">
	<i class="fa fa-sign-in"></i>
	Entrar
</h1>
<div class="col-md-4"></div>
<div class="col-md-4">
	<form action="{% url 'identity:login' %}" method="post">
		{% csrf_token %}
		{% for field in form %}
		{% if not field.is_hidden %}
		<div class="form-group">
			{{ field.label_tag }}
			{{ field }}
		</div>
		{% else %}
		{{ field }}
		{% endif %}
		{% endfor %}
		<button class="btn btn-primary" type="submit">
			<i class="fa fa-sign-in"></i>
			Entrar
		</button>
		<a href="{% url 'identity:cadastrar_pessoa' %}" class="btn btn-default"><i class="fa fa-plus"></i> Cadastre-se</a>
	</form>
</div>
<div class="col-md-4"></div>
<div class="clearfix"></div>
{% endblock %}
