{% extends "identity/identity_base.html"%} {% load humanize %} {% block content_block %}
<h1 class="text-center">
	{% icon_text icon='users' text='Lista de usuários' %}
</h1>
<hr />
<div class="row">
	{% bootstrap_button link='identity:cadastrar_pessoa' icon='plus' text='cadastrar usuário' bclass="primary" %}
</div>
{% if is_paginated %}
<div class="row">{% include 'identity/includes/pagination.html' with href='identity:lista_pessoas' page_obj=page_obj %}</div>
{% else %}
<br />
{% endif %}
<div class="row">
	<div class="table-responsive">
		<table id="tabela" class="table table-bordered table-striped table-hover table-condensed">
			<thead>
				<tr>
					<th>ID</th>
					<th>Dados</th>
					<th>Data de Criação</th>
					<th>Último login</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% if object_list %} {% for pessoa in object_list %}
				<tr>
					<th>
						<strong>{{pessoa.id}}</strong>
					</th>
					<td>
						<i class="fa fa-user"></i>
						<strong>{{pessoa.usuario.get_full_name|capfirst|default:"Sem nome definido"}} ({{ pessoa.usuario.get_username }})</strong>
						<br />
						{{pessoa.documento.tipo_documento.abreviacao}}: {{pessoa.documento.codigo|mask:pessoa.documento.tipo_documento.mascara}}
					</td>
					<td>{{pessoa.usuario.date_joined|naturaltime}}</td>
					<td>{{pessoa.usuario.last_login|naturaltime|default:"Ainda não autenticou"}}</td>
					<td>
						{% url 'identity:visualizar_pessoa' pessoa.id as url_visualizar_pessoa %}
						{% bootstrap_button href=url_visualizar_pessoa icon="eye" bclass="default btn-xs" %}
						{% if perms.identity.change_pessoa %}
						{% url 'identity:editar_pessoa' pessoa.id as url_editar_pessoa %}
						{% bootstrap_button href=url_editar_pessoa icon="pencil" bclass="primary btn-xs" %}
						{% endif %}
						{% if not pessoa.usuario.is_superuser and perms.identity.delete_pessoa %}
						<button type="button" data-target="#confirmModal" data-toggle="modal" data-href="{% url 'identity:remover_pessoa' pessoa.id %}" data-nome="{{ pessoa.usuario.first_name }}"
							class="btn btn-danger btn-xs">
							<i class="fa fa-trash"></i>
						</button>
						{% endif %}
					</td>
				</tr>
				{% endfor %} {% else %}
				<tr colspan="5">
					<p>Nenhum usuário cadastrado.</p>
				</tr>
				{% endif %}
			</tbody>
		</table>
	</div>
</div>
{% if is_paginated %}
<div class="row">{% include 'identity/includes/pagination.html' with href='identity:lista_pessoas' page_obj=page_obj %}</div>
{% endif %} {% endblock %} {% block js_block %} {% include 'identity/includes/modal_remover_pessoa.html' %} {% endblock %}
