{% extends 'checklist/checklist_base.html' %} {% load staticfiles %} {% load i18n %} 

{% block page_title %}
{% icon_text icon="user" text=_("company form") %}
{% endblock page_title %}

{% block content_block %}
<div class="mdl-layout-spacer"></div>
<form class="mdl-cell--5-col" id="company_form" action="{{ request.path }}" method="post">
	{% csrf_token %}
	{% bootstrap_messages form.non_field_errors %}
	
	<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col">
		<div class="mdl-card__title">
			<i class="material-icons">account_balance</i>
			<h2 class="mdl-card__title-text">
			{{ _(view_name)|capfirst }}
			</h2>
		</div>
		
		<div class="mdl-card__supporting-text">
			{% for field in form %}
			{% mdl_field field %}
			{% endfor %}
		</div>
		
		<div class="mdl-card__actions mdl-card--border">
			<button type="submit" class="make-navigation mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
				{{ _("save")|capfirst }}
			</button>
			<a href="{% url 'user:index' %}" class="mdl-button mdl-js-button mdl-js-ripple-effect">
				{{ _("cancel")|capfirst }}
			</a>
		</div>
		
	</div>
</form>
<div class="mdl-layout-spacer"></div>
{% endblock %} 