.env-font {
	font-family: 'Fredericka the Great';
	margin-bottom: 0px;
}

.slogan {
	font-size: 0.7em;
}

.navbar-default {
    background-color: rgba(255,255,255,0.95);
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    color: #555;
    background-color: inherit;
}

.font-bolder {
	font-weight: bolder;
}

.base-top-margin-md-lg {
	padding-top: 180px;
}

.base-top-margin-xs-sm {
	padding-top: 190px;
}

/* @-webkit-keyframes fadeIn, */
@keyframes fadeIn {
    from { opacity: 0; } to { opacity: 1; }
}

/* @-webkit-keyframes fadeOut, */
@keyframes fadeOut {
    from { opacity: 1; } to { opacity: 0; }
}

.dropdown-menu {
/* 	animation: fadeOut 1s; */
}

* {
	font-family: 'Raleway', sans-serif;
}

.open > .dropdown-menu {
	animation: fadeIn 1s;
}

.text-small {
	font-size: 0.8em;
}

.alert-small {
	padding: 5px 5px 5px 10px;
	font-size: 0.9em;
}

.alert a {
	text-decoration: underline;
	font-weight: bolder;
}

.tr-link {
	cursor: pointer;
}
