{% extends 'base/base_app.html' %} {% load i18n %}
{% block off_container %}
{% include "base/includes/language_modal.html" %}
{% endblock off_container %}

{% block user_menu %}
<ul class="nav navbar-nav navbar-right">
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
			<i class="fa fa-user"></i>
			{{ user.first_name|default:user.get_username }}
			<i class="fa fa-caret-down"></i>
		</a>
		<ul class="dropdown-menu">
			<li>
				<a href="#" data-toggle="modal" data-target="#languageModal"><i class="fa fa-language"></i> {{ _("switch language")|capfirst }}</a>
			</li>
			<li>
				<a href="{% url 'user:current_user_detail' %}"><i class="fa fa-eye"></i> {{ user.get_full_name|default:user.get_username }}</a>
			</li>
			<li>
				<a href="{% url 'user:current_user_password_update' %}"><i class="fa fa-key"></i> {{ _("change password")|capfirst }}</a>
			</li>
			<li>
				<a href="{% url 'user:logout' %}"><i class="fa fa-sign-out"></i> {{ _("logout")|capfirst }}</a>
			</li>
		</ul>
	</li>
</ul>
{% endblock user_menu %}