@font-face {
	font-family: 'Fredericka the Great';
	font-style: normal;
	font-weight: 400;
	src: local('Fredericka the Great'), local('FrederickatheGreat'), url("../fonts/Fredericka the Great.woff2") format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.escondido {
	display: none !important;
}

.env-font {
	font-family: 'Fredericka the Great';
	margin-top: 25px;
}

.slogan {
	font-size: 0.7em;
}

.app-content {
  max-width: 1080px;
}

.fl-left {
	float: left;
}

.add-fixed {
	position: fixed;
	bottom: 50px;
	right: 50px;
	z-index: 500;	
}

.app-drawer {
	border: none;
	color: #fff;
	overflow: visible;	
}

.mdl-layout__header .mdl-layout__drawer-button {
	color: #fff;
}

.app-drawer .mdl-navigation .mdl-navigation__link {
    padding: 16px 16px;
	color: #fff;
}

.app-drawer .mdl-navigation .mdl-navigation__link:hover {
    padding: 16px 16px;
	color: #000;
	background-color: rgb(178,255,89);
}


.mdl-progress {
	width: 100%;
}

.mdl-progress .bar {
	background-color: #fff !important;
}

.app-drawer-header {
	box-sizing: border-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	padding: 16px;
}

.app-user-dropdown {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
}

.app-drawer .mdl-menu .mdl-menu__item {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.mdl-menu .mdl-menu__item .mdl-navigation__link {
	padding-left: 5px;
}

.mdl-layout.is-upgraded .mdl-layout__tab.is-active,
.mdl-layout__tab {
	color: #fff;
}

.app-user-dropdown-header {
/* 	text-align: right; */
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }