{% extends 'materialdesign/material_app.html' %} {% load i18n %}

{% block app_menu %} 
<div class="mdl-layout__tab-bar mdl-js-ripple-effect">
	<a href="{% url 'user:index' %}" class="make-navigation mdl-navigation__link mdl-layout__tab {% if current_page == 'home' %}is-active{% endif %}">
		<i class="material-icons">home</i>
		<span>
			{{ _("home")|capfirst }}
		</span>
	</a>
	{% if perms.auth.add_user %}
	<a href="{% url 'user:users_list' 1 %}" class="make-navigation mdl-navigation__link mdl-layout__tab {% if current_page == 'user-detail' %}is-active{% endif %}">
		<i class="material-icons">list</i>
		<span>
			{{ _("users")|capfirst }}
		</span>
	</a>
	{% endif %}
</div>
{% endblock %}

