{% extends 'user/user_base.html' %} {% load i18n %}

{% block head %}
<title>Identity Manager</title>
{% endblock head %}

{% block app_title %}
<i class="fa fa-clock-o fa-lg"></i>
Identity Manager
{% endblock app_title %}

{% block app_menu %} 
<ul class="nav navbar-nav">
	<li>
		<a href="{% url 'user:index' %}">
			<i class="fa fa-home"></i>
			{{ _("home")|capfirst }}
		</a>
	</li>
	{% if perms.auth.change_user %}
	<li>
		<a href="{% url 'user:users_list' 1 %}">
			<i class="fa fa-users"></i>
			{{ _("users")|capfirst }}
		</a>
	</li>
	{% endif %}
	{% if user.is_superuser %}
	<li>
		<a href="{% url 'admin:index' %}">
			<i class="fa fa-cogs"></i>
			{{ _("administration")|capfirst }}
		</a>
	</li>
	{% endif %}
</ul>
{% endblock %}

