{% extends 'auth/auth_base.html' %} {% load i18n %} 

{% block page_title %}
{% icon_text 'key' _("change password") %}{% if object %} {% blocktrans with first_name=object.first_name|capfirst|default:object.get_username context "change password" %}of {{ first_name }}{% endblocktrans %}{% endif %}
{% endblock page_title %}

{% block content_block %}
<div class="col-md-3"></div>
<div class="col-md-6">
	<form action="{{ request.path }}" method="post">
		{% csrf_token %}
		{% bootstrap_messages form.non_field_errors %}
		<div class="well well-lg">
		
			{% for field in form %}
			{% bootstrap_field field %}
			{% endfor %}
		
		</div>
		
		{% bootstrap_button icon='floppy-o' text=_("save") bclass='primary' %}
		{% bootstrap_button href='..' icon='times' text=_("cancel") %}
		
	</form>
</div>
<div class="col-md-3"></div>
<div class="clearfix"></div>
{% endblock %}
