{% extends "auth/auth_base.html"%} {% load humanize %} {% load i18n %} 

{% block page_title %}
{% icon_text icon='users' text=_("users list") %}
{% endblock page_title %}

{% block content_block %}
<div class="row">
	{% bootstrap_button link='user:user_create' icon='user-plus' text=_("new user") bclass="primary" %}
</div>
<div class="row">{% bootstrap_paginator link='user:users_list' page_obj=page_obj %}</div>
<div class="row">
	<div class="table-responsive">
		<table id="tabela" class="table table-bordered table-striped table-hover table-condensed">
			<thead>
				<tr>
					<th>ID</th>
					<th>{{ _("user data")|capfirst }}</th>
					<th>{{ _("sign up date")|capfirst }}</th>
					<th>{{ _("last login")|capfirst }}</th>
				</tr>
			</thead>
			<tbody>
				{% if object_list %} {% for object in object_list %}
				<tr class="tr-link" onclick="window.location='{% url 'user:user_detail' object.id %}'">
					<th>
						<strong>{{object.id}}</strong>
					</th>
					<td>
						<i class="fa fa-user"></i>
						<strong>{{object.get_full_name|default:_("not provided yet")|capfirst}}</strong>
						<br>
						{{ object.get_username }}
						<br>
						{{ object.email }}
					</td>
					<td>{{object.date_joined|naturaltime}}</td>
					<td>{{object.last_login|naturaltime|default:_("never logged in")|capfirst}}</td>
				</tr>
				{% endfor %} 
				{% else %}
				<tr>
					<td colspan="5">
						<p>{{ _("no results to show")|capfirst }}</p>
					</td>
				</tr>
				{% endif %}
			</tbody>
		</table>
	</div>
</div>
<div class="row">{% bootstrap_paginator link='user:users_list' page_obj=page_obj %}</div>
{% endblock content_block %}
