{% extends 'auth/auth_base.html' %} {% load humanize %} {% load i18n %} {% block content_block %}

{% blocktrans asvar user_change_title with first_name=object.first_name|capfirst %}{{ first_name }}'s user data{% endblocktrans %}

<h1 class="text-center">
	<i class="fa fa-user"></i>
	{% if user.username == object.username %}
	{{ _("my user")|capfirst }}
	{% else %}
	{{ user_change_title|capfirst }}
	{% endif %}
</h1>
<hr />
<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6">
		<div class="well well-lg">
			<p>
				<strong>{{ _("full name")|capfirst }}: </strong>
				{{ object.get_full_name }}
			</p>
			<p>
				<strong>{{ _("e-mail address")|capfirst }}: </strong>
				{{ object.email }}
			</p>
			<p>
				<strong>{{ _("username")|capfirst }}: </strong>
				{{ object.username }}
			</p>
			<p>
				<strong>{{ _("sign up date")|capfirst }}: </strong>
				{{ object.date_joined|naturaltime }}
			</p>
			<p>
				<strong>{{ _("last login")|capfirst }}: </strong>
				{{ object.last_login|naturaltime|default:_("never logged in")|capfirst }}
			</p>
			<div class="clearfix"></div>
		</div>
		{% if user.username == object.username or perms.auth.change_user %}
		{% bootstrap_button href='password' icon='key' bclass='success' text=_("change password") %}
		{% bootstrap_button href='edit' icon='pencil' bclass='primary' text=_("update user's data") %}
		{% endif %}
	</div>
	<div class="col-md-3"></div>
</div>
{% endblock content_block %}