{% extends 'base/base.html' %} {% load i18n %}

{% block body_block %}

<dialog id="languageModal" class="mdl-dialog">
	<h5 class="mdl-dialog__title">
		<i class="material-icons">language</i>
		{{ _("switch language")|capfirst }}
	</h5>
	<form action="{% url 'language:set_language' %}" method="post">
		{% csrf_token %}
		<input name="next" type="hidden" value="{{ redirect_to }}" />
		<div class="mdl-dialog__content">
	    	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
	    		<label class="mdl-textfield__label" for="{{ bound_field.id_for_label }}">
					{{ _("choose a language")|capfirst }}:
				</label>
				<select class="mdl-textfield__input" id="language" name="language">
					{% get_current_language as LANGUAGE_CODE %}
			        {% get_available_languages as LANGUAGES %}
			        {% get_language_info_list for LANGUAGES as languages %}
			        {% for language in languages %}
			        {% if language.code in mapped_languages %}
              		<option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                		{{ language.name_local }} ({{ language.code }})
              		</option>
			        {% endif %}
			        {% endfor %}
				</select>
	    	</div>
	    </div>
	    <div class="mdl-dialog__actions">
			<button type="submit" class="mdl-button make-navigation" data-closedialog="#languageModal">
				{{ _("submit")|capfirst }}
			</button>
			<button type="button" class="mdl-button" data-closedialog="#languageModal">
				{{ _("cancel")|capfirst }}
			</button>
	    </div>
    </form>
</dialog>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
	<header class="mdl-layout__header">
		<div id="loading-bar" class="escondido mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
		<div class="mdl-layout__header-row">
			<div class="mdl-layout-spacer"></div>
			<h3 class="env-font mdl-cell--hide-phone">ProductivEnv</h3>
			<h4 class="env-font mdl-cell--hide-tablet mdl-cell--hide-desktop">ProductivEnv</h4>
			<div class="mdl-layout-spacer"></div>
			<i class="material-icons md-36">{{ request_current_site.icon }}</i>
		</div>
		
	</header>
	{% if user.is_authenticated %}
	<div class="app-drawer mdl-layout__drawer">
		<header class="app-drawer-header mdl-color--primary mdl-color-text--white">
			<i class="material-icons md-48">account_circle</i>
			<div class="app-user-dropdown">
				<span>{{ user.first_name|default:user.get_username }}</span>
			</div>
		</header>
		<nav class="mdl-navigation app-drawer-content">
			{% block app_menu %}{% endblock app_menu %}
			<a class="mdl-menu__item--full-bleed-divider"></a>
			{% for site in request_available_sites %}
			{% trans site.name as site_name %}
			<a class="mdl-navigation__link make-navigation" href="{% url site.reverseUrl %}">
				<i class="material-icons" role="presentation">{{ site.icon }}</i> 
				{{ site_name|capfirst }}
			</a>
			{% endfor %}
			<a class="mdl-menu__item--full-bleed-divider"></a>
			<a class="mdl-navigation__link make-navigation" href="{% url 'user:current_user_detail' %}">
				<i class="material-icons">person</i>
				{{ _("my user")|capfirst }}
			</a>
			<a class="mdl-navigation__link make-navigation" href="{% url 'user:current_user_password_update' %}">
				<i class="material-icons">vpn_key</i>
				{{ _("change password")|capfirst }}
			</a>
			<a class="mdl-navigation__link" href="#" data-opendialog="#languageModal">
				<i class="material-icons">language</i>
				{{ _("switch language")|capfirst }}
			</a>
			<a class="mdl-navigation__link make-navigation" href="{% url 'user:logout' %}">
				<i class="material-icons">exit_to_app</i>
				{{ _("logout")|capfirst }}
			</a>
		</nav>
	</div>
	{% endif %}
	
	<main class="mdl-layout__content"> 
		{% block off_container %}{% endblock off_container %}
		<div class="app-content mdl-grid">
			{% mdl_messages messages %} 
			{% block content_block %}{% endblock content_block %}
		</div>
	</main>
	
</div>

{% endblock body_block %}
