{% load i18n %}
<div class="modal fade" id="languageModal" tabindex="-1" role="dialog" aria-labelledby="languageModal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<i class="fa fa-times"></i>
				</button>
				<h4 class="modal-title" id="languageModal">
					{{ _("switch language")|capfirst }}
				</h4>
			</div>
			<form action="{% url 'language:set_language' %}" method="post">
				{% csrf_token %}
				<input name="next" type="hidden" value="{{ redirect_to }}" />
				<div class="modal-body">
					<div class="form-group">
						<label for="language">{{ _("choose a language")|capfirst }}:</label>
						<select class="form-control" id="language" name="language">
						{% get_current_language as LANGUAGE_CODE %}
				        {% get_available_languages as LANGUAGES %}
				        {% get_language_info_list for LANGUAGES as languages %}
				        {% for language in languages %}
				        	{% if language.code in mapped_languages %}
				            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
				                {{ language.name_local }} ({{ language.code }})
				            </option>
				            {% endif %}
				        {% endfor %}
						</select>
					</div>		
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-success">
						<i class="fa fa-refresh"></i>
						{{ _("submit")|capfirst }}
					</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">
						<i class="fa fa-times"></i> 
						{{ _("cancel")|capfirst }}
					</button>
				</div>
			</form>
		</div>
	</div>
</div>