{% extends 'auth/auth_base.html' %} {% block content_block %}
<h1 class="text-center">
	{% icon_text 'key' "Alterar senha"|capfirst %}{% if object %} de {{ object.first_name|capfirst|default:object.get_username }}{% endif %}
</h1>
<div class="col-md-4"></div>
<div class="col-md-4">
	<form action="{{ request.path }}" method="post">
		{% csrf_token %}
		{% bootstrap_messages form.non_field_errors %}
		<div class="well well-lg">
		
			{% for field in form %}
			{% bootstrap_field field %}
			{% endfor %}
		
		</div>
		
		{% bootstrap_button icon='floppy-o' text='salvar' bclass='primary' %}
		{% bootstrap_button href='..' icon='times' text='cancelar' %}
		
	</form>
</div>
<div class="col-md-4"></div>
<div class="clearfix"></div>
{% endblock %}
