{% extends 'identity/identity_base.html' %} {% block content_block %}
<h1 class="text-center">
	{% icon_text 'key' "Alterar minha senha"|capfirst %}
</h1>
<div class="col-md-4"></div>
<div class="col-md-4">
	<form action="{% url 'identity:current_user_password_update' %}" method="post">
		{% csrf_token %}
		{% bootstrap_messages form.non_field_errors %}
		<div class="well well-lg">
		
			{% for field in form %}
			{% bootstrap_field field %}
			{% endfor %}
		
		</div>
		
		{% bootstrap_button icon='floppy-o' text='salvar' bclass='primary' %}
		{% bootstrap_button link='identity:current_user_detail' icon='times' text='cancelar' %}
		
	</form>
</div>
<div class="col-md-4"></div>
<div class="clearfix"></div>
{% endblock %}
