{% extends 'identity/identity_base.html' %} {% block content_block %} {% load humanize %}

<h1 class="text-center">
	<i class="fa fa-user"></i>
	{% if user.get_username == object.get_username %}
	Meus Dados
	{% else %}
	Detalhes do usuário {{ object.first_name }}
	{% endif %}
</h1>
<hr />
<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<div class="well well-lg">
			<p>
				<strong>Nome: </strong>
				{{ object.get_full_name }}
			</p>
			<p>
				<strong>E-mail: </strong>
				{{ object.email }}
			</p>
			<p>
				<strong>Login: </strong>
				{{ object.username }}
			</p>
			<p>
				<strong>Cadastrado: </strong>
				{{ object.date_joined|naturaltime }}
			</p>
			<p>
				<strong>Último login: </strong>
				{{ object.last_login|naturaltime|default:"Ainda não autenticou." }}
			</p>
			<div class="clearfix"></div>
		</div>
		{% bootstrap_button link='identity:current_user_password_update' icon='key' bclass='success' text='alterar minha senha' %}
		{% bootstrap_button link='identity:current_user_update' icon='pencil' bclass='primary' text='alterar meus dados' %}
	</div>
	<div class="col-md-4"></div>
</div>
{% endblock content_block %}