{% extends 'base/base.html' %} {% load i18n %}

{% block body_block %}
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container text-center text-success">
		<h1 class="env-font">
			<button id="btn-menu" class="btn btn-default btn-lg pull-left"><i class="fa fa-th"></i></button>
			ProductivEnv
		</h1>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<span class="env-font slogan">Productive Enterprise Companion</span>
	</div>
	<div class="container text-center">
		<h4 class="font-bolder text-muted">{% block page_title %}{%endblock page_title %}</h4>
	</div>

	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">{{ _("toggle navigation")|capfirst }}</span>
				<i class="fa fa-bars"></i>
			</button>
			<span class="navbar-brand font-bolder">
				{% block app_title %}
				{% with page_current_site=request_current_site %}
				{% trans page_current_site.name as page_current_site_name %}
				
				<i class="fa fa-{{ page_current_site.icon }} fa-lg"></i>
				{{ page_current_site_name|capfirst }}
				
				{% endwith %}
				{% endblock app_title %}
			</span>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			{% if user.is_authenticated %}
			{% block app_menu %}{% endblock app_menu %}
			{% block user_menu %}{% endblock user_menu %}
			<ul class="nav navbar-right navbar-nav">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle visible-xs" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
						<i class="fa fa-th"></i>
						{{ _("applications")|capfirst }}
						<i class="fa fa-caret-down"></i>
					</a>
					<a href="#" class="dropdown-toggle hidden-xs" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
						<i class="fa fa-th"></i>
					</a>
					<ul class="dropdown-menu">
						{% for site in request_available_sites %}
							<li>
								{% trans site.name as site_name %}
								<a href="{% url site.reverseUrl %}"><i class="fa fa-{{ site.icon }}"></i> {{ site_name|capfirst }}</a>
							</li>
						{% endfor %}
					</ul>
				</li>
			</ul>
			{% endif %}
		</div>
	</div>

</nav>
<nav id="menu" class="menu slideout-menu text-success">
	<header>
		<h2>Menu</h2>
	</header>
</nav>
<main id="panel" class="panel slideout-panel">
	{% block off_container %}{% endblock off_container %}
	<div id="panel" class="container">
		<div class="hidden-xs hidden-sm base-top-margin-md-lg"></div>
		<div class="hidden-md hidden-lg base-top-margin-xs-sm"></div>
		{% bootstrap_messages messages %}
		{% block content_block %}{% endblock content_block %}
		<hr>
		<footer>
			<p>&copy; 2015 Company, Inc.</p>
		</footer>
	</div>
</main>
{% endblock body_block %}